<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appicplay.sdk.unity_lib">

    <application android:name="com.appicplay.sdk.unitywrapper.APUnityApplication">
        <!--appic-->
        <meta-data
            android:name="appicplay_game_launcher"
            android:value="${applicationId}.UnityPlayerActivity">
        </meta-data>
        <meta-data
            android:name="appicplay_game_is_unity"
            android:value="true">
        </meta-data>

    </application>

</manifest>